Dans un premier temps, nous avons pris un petit extrait du texte de Star Wars pour faire les premières manipumations. Nous avons remarqué que les discours des personnages sont décalés de 25 espaces, suivis d'un espace, c'est pour cela qu'on a défini 3 groupes dans la fonction re.compiler. On a ensuite appliqué la fonction pattern.finditer à notre texte de base pour enfin demander le groupe 2 en sortie, ce qui nous a permis d'obtenir la partie texte qui nous intéresse notamment le nom des personnages suivi de son discours. ( données brutes + texte composé de nom de dialogue et de didascalie + on s'intéresse uniquement aux personnages et à leurs dialogues CE N'EST PAS UN DATAFRAME ( données structurées faciles à exploiter ) )

In [1]:
import pandas as pd
import numpy as np
import re
import os

In [2]:

def magic(rawdata, pattern, pattern_name, delete_top = None, delete_bottom = None):
    '''
    prend comme entrées une base de données sous forme d'un fichier texte, et des chaines de caractères qui caractèrisent
    les parties recherchées (un fichier texte), et sort une dataframe des éléments recherchées
    '''
    ## pattern doit étre raw string et donc procéder par la lettre r
    ## exemple pattern = r'covid-19 # on va tous mourir mdr'
    x = pattern, pattern_name
    pattern = re.compile(x[0])
    matches = pattern.finditer(rawdata)
    data = []
    for match in matches:
        data.append(match.group(2))
    ## si demandé, on enlève le nombre demandé des promiers lignes
    if delete_top:
        data = data[delete_top:]
    ## si demandé, on enlève le nombre demandé des derniers lignes
    if delete_bottom:
        data = data[:-delete_bottom]
    names =[]
    pattern2 = re.compile(x[1])
    for i in data :
        matches = pattern2.finditer(i)
        for match in matches :
            names.append(match.group(2))
    raw_names =[]
    for j in data :
        matches = pattern2.finditer(j)
        for match in matches :
            raw_names.append(match.group(0))
    paroles=[]
    list=[]
    for item in data[1:]:
        if item in raw_names:
            paroles.append(list)
            list=[]
        else:
            list.append(item)
    paroles.append(list)
    for k in range(len(paroles)):
        paroles[k]=''.join(paroles[k])
    df = pd.DataFrame(zip(names, paroles), columns =['Name', 'parole']) 
    return df

# A New Hope

In [3]:
## importation des données
os.path.join(os.getcwd(), '..')
tmp = os.path.abspath(os.path.join(os.getcwd(), '..'))
path = os.path.join(tmp, 'Data', 'A_New_Hope_Raw.txt')
temp = open(path, "r")
rawdata1 = temp.read()

In [4]:
df1 = magic(rawdata1, r'(\s{25})(.+)(\s)', r'(\s{14}|\s{13})(.+)', delete_top = 11, delete_bottom = 2 )
df1

            Name                                             parole
0       THREEPIO  Did you hear that? They've shut down the main ...
1       THREEPIO                                      We're doomed!
2       THREEPIO  There'll be no escape for the Princess this time.
3       THREEPIO                                       What's that?
4       THREEPIO  I should have known better than to trust the l...
...          ...                                                ...
997         LUKE                                            Oh, no!
998     THREEPIO  Oh, my! Artoo! Can you hear me? Say something!...
999   TECHNICIAN               We'll get to work on him right away.
1000    THREEPIO  You must repair him! Sir, if any of my circuit...
1001        LUKE                                He'll be all right.

[1002 rows x 2 columns]

In [5]:
## saving the data frame so we can load it elsewhere
os.path.join(os.getcwd(), '..')
tmp1 = os.path.abspath(os.path.join(os.getcwd(), '..'))
path = os.path.join(tmp, 'Data', 'half_pre-processed_data_1.csv')

df1.to_csv(path, index=False)

# The Empire strikes Back

In [6]:
## importation des données
os.path.join(os.getcwd(), '..')
tmp1 = os.path.abspath(os.path.join(os.getcwd(), '..'))
path = os.path.join(tmp, 'Data', 'The_Empire_strikes_Back_Raw.txt')
temp = open(path, "r")
rawdata2 = temp.read()

In [7]:
df2 = magic(rawdata2, r'(\t{2})([a-z, A-Z].+|\t{2}.+)(\s)', r'(\t{2})(.+)', delete_top = 6, delete_bottom = 2 )
df2

      Name                                             parole
0     LUKE  Echo Three to Echo Seven.  Han, old buddy, do ...
1      HAN                   Loud and clear, kid.  What's up?
2     LUKE  Well, I finished my circle.  I don't pick up a...
3      HAN  There isn't enough life on this ice cube to fi...
4     LUKE  Right.  I'll see you shortly.  There's a meteo...
..     ...                                                ...
833   LUKE  I'll meet you at the rendezvous point on Tatoo...
834  LANDO              Princess, we'll find Han.  I promise.
835   LUKE           Chewie, I'll be waiting for your signal.
836   LUKE    Take care, you two.  May the Force be with you.
837   LUKE                                                Ow!

[838 rows x 2 columns]

In [8]:
## saving the data frame so we can load it elsewhere
os.path.join(os.getcwd(), '..')
tmp1 = os.path.abspath(os.path.join(os.getcwd(), '..'))
path = os.path.join(tmp, 'Data', 'half_pre-processed_data_2.csv')

df2.to_csv(path, index=False)